li {
    list-style-type: none;
    padding-right: 10px;
}


a {
    color: black;
    text-decoration: none;
}

img {
    height: 21px;
}

.desktop-navbar {
    width: 80%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav-links {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.desktop-lang {
    justify-content: end;
}

html {scroll-behavior: smooth;}